@import "../../styles/variables";

@font-face{
    font-family: 'Digital';
    src: url('../../fonts/DS-DIGI.TTF') format('truetype');
    font-weight: normal;
}

.panel-container {
    display: flex;
    height: 100vh;

    .content {
        width: 100%;
        background-color: $body-color;

        @include flexCenter();
        flex-direction: column;
        justify-content: center;

        .controls {
            @include flexCenter();
            justify-content: space-evenly;

            width: 140px;
            max-width: 200px;
            margin-left: auto;

            .option {
                width: 100%;
                text-align: center;
                padding: 12px;
                max-width: 120px;

                button{
                    background-color: transparent;
                    border: none;
                    color: white;
                    cursor: pointer;
                }

                &:hover {
                    background-color: lighten($body-color, $amount: 10);
                    cursor: pointer;
                }
            }
        }

        .clock-container {
            width: 90%;
            max-width: 980px;
            min-width: 400px;
            margin: auto;
            padding: 12px;
            color: $font-color;
            

            @include flexCenter();
            flex-direction: column;

            .timer {
                font-family: 'Digital';
                display: block;
                width: 60%;
                max-width: 700px;
                min-width: 350px;
                margin: 20px auto;

                span {
                    font-size: 122px;
                    display: block;
                    text-align: center;
                }
            }

            .buttons {
                width: 260px;
                border: none;
                margin-top: 36px;

                @include flexCenter();
                justify-content: space-between;

                button {
                    width: 47%;
                    padding: 14px;
                    font-size: 16px;
                    font-weight: map-get($weight, "medium");
                    border: none;
                    transition: 0.2s;

                    &:hover {
                        cursor: pointer;
                    }
                }

                .start-button {
                    background-color: $btn-start;

                    &:hover {
                        background-color: darken($btn-start, $amount: 15);
                    }
                    &:active {
                        @include activeEffect($btn-start);
                    }
                }

                .reset-button {
                    background-color: $btn-reset;

                    &:hover {
                        background-color: darken($btn-reset, $amount: 15);
                    }
                    &:active {
                        @include activeEffect($btn-reset);
                    }
                }
            }
        }
    }
}
