@import '../../styles/variables';

.header{
    background-color: $primary-color;
    
    
    nav{

        width: 90%;
        height: 100%;
        max-width: 1280px;

        @include flexCenter();
        justify-content: space-between;

        margin: auto;

        div{
            width: 70%;
            height: 50px;
        }

        section{
            width: 30%;
            height: 100%;
            display: flex;

        }

        a{  
            width: 100%;
            padding: 2rem;

            @include flexCenter();
            justify-content: center;
            
            text-transform: uppercase;

            &:hover{
                background-color: lighten($primary-color, 10);
            } 
            
            .icon-navbar{
                border: 2px solid $border-icon;
                border-radius: 50px;
            }
        }

        
    }
}


