@import "../../styles/variables";

.header {
    background-color: $primary-color;

    nav {
        width: 90%;
        height: 100%;
        max-width: 1280px;

        @include flexCenter();
        justify-content: space-between;

        margin: auto;

        div {
            width: 70%;
            height: 50px;
        }

        section {
            width: 30%;
            height: 100%;
            display: flex;

            button {
                border: none;
                padding: 2rem;
                width: 50%;

                background-color: transparent;

                cursor: pointer;

                &:hover {
                    background-color: lighten($primary-color, 10);
                }

                svg {
                    color: white;

                    &.icon-navbar{
                        border: 3px solid $border-icon;
                        border-radius: 50px;
                    }
                }
            }
        }
    }
}
